<div>
    <h1>
        <!-- Interpolation -->
        Welcome to {{title}}
    </h1>
    <span>{{object.title}} by {{object.author}}</span>

    <br />
    <!-- Attribut binding -->
    <!-- <button disabled="{{btnDisabled}}">My dynamic button</button> -->
    <!-- Property binding -->
    <button [disabled]="btnDisabled">My dynamic button</button>

    <br />
    <!-- Event binding -->
    <button (click)="toggleButton()">Toggle disable</button>

    <br />
    <!-- Pipes -->
    <p>My app name is: {{ title | uppercase}}</p>
    <p>Current date is: {{date | date}}</p>

    <br />
    <!-- Attribut directive -->
    <p [ngClass]="getClasses()">Dynamic class</p>

    <br />
    <!-- Structure directive -->
    <p *ngIf="isBtnDisabled(), else template1">Shortcut NgIf</p>
    <ng-template [ngIf]="isBtnDisabled()">
        <p>Long NgIf</p>
    </ng-template>

    <ul>
        <li *ngFor="let p of products">{{p.name}} - {{p.price}}</li>
    </ul>

    <ul>
        <ng-container *ngFor="let p of products">
            <li>{{p.name}}</li>
            <li>{{p.price}}</li>
            <li>-----</li>
        </ng-container>
    </ul>

    <!-- Template variable -->
    <ng-template #template1>
        <p>Else text</p>
    </ng-template>

    <input type="text" name="textfield" #myInput value="test" />
    {{myInput}}

</div>